@model Domain.Entities.User

<h2>Редактировать</h2>
<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Имя</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Surname">Фамилия</label>
        <input asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Электронная почта</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth">Дата рождения</label>
        <input asp-for="DateOfBirth" type="date" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
<a asp-action="Index">Вернуться к списку</a>